<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.idUsuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
